#HeaderMainSer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#HeaderMainSer>div {
    width: 90%;
    margin-top: 80px;
    color: white;
    display: flex;
    justify-content: start;
    flex-direction: column;

}

#HeaderMainSerBigHead {
    font-size: 3vw;
    font-weight: 600;
    color: white;
}

#HeaderMainSerHead1 {
    margin-top: 30px;
    font-size: 1vw;
    color: white;
}

#HeaderMainSerForm>div {
    width: 90%;
    display: flex;
    justify-content: start;
}

#HeaderMainSerForm>div>div {
    width: 48%;
}


#HeaderMainSerForm {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

#HeaderMainSerInput1,
#HeaderMainSerInput2 {
    margin: 0px;
    padding: 0px;
}

#HeaderMainSerInput1>input {
    height: 50px;
    width: 100%;
    background-color: #052D56;
    border: none;
    padding: 5px;
}

#HeaderMainSerInput2>input {
    height: 50px;
    width: 100%;
    background-color: #FF4820;
    font-size: 1.3vw;
}

#HeaderMainSerHead2>div {
    width: 30%;
    text-align: center;
    margin-top: 50px;
    font-size: 0.8vw;
    color: #81AFDD;
}




/* body section */





#MainSerBody {
    display: flex;
    justify-content: center;
}

#MainCardSer {
    margin-top: 200px;
    width: 90%;
    background-color: #042C54;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.MainCardSer_Bar {
    width: 40px;
    height: 5px;
    background: rgb(174, 103, 250);
    background: linear-gradient(45deg, rgba(174, 103, 250, 1) 0%, rgba(244, 152, 103, 1) 100%);
}

#MainCardSer>div {
    width: 90%;
}

#MainCardSer_List1 {
    margin-top: 50px;
}

#MainCardSer_heading1 {
    font-size: 2.5vw;
    font-weight: 600;
    color: white;
    margin-top: 30px;
}


#MainCardSer_Pera1 {
    margin-top: 30px;
    color: white;
}

#MainCardSer_BigHeading {
    font-size: 3vw;
    width: 50%;
    font-weight: 600;
    color: white;
    margin-top: 80px;
}

/* Tamplate List  */


#MainCardSer_Lists>div {
    margin-top: 100px;
}

.MainSubCardSer_Pera {
    color: white;
    margin-top: 50px;
}

.MainSubCardSer_Heading {
    font-size: 1.8vw;
    margin-top: 30px;
    color: white;

}

/* Second body Big parts */

#MainSerBodySec {
    display: flex;
    justify-content: center;

}

#MainSerBodySec>div {
    width: 90%;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.MainSerBodySec_Heading {
    color: white;
    font-size: 2.2vw;
    margin-top: 20px;
}

.MainSerBodySec_Pera {
    color: white;
    margin-top: 60px;
}

/* Table start */


#MainSerBodySec_TableHeading {
    color: white;
    font-size: 1.1vw;
    margin-top: 5px;
}

#MainSerBodySec_TablePera {
    color: white;
    font-size: 1vw;
}


#MainSerBodySec_Table>div {
    margin-top: 30px;
}


/* Main third body section */


#MainSerBodyThird {
    width: 100%;
    display: flex;
    justify-content: center;
}

#MainSerBodyThird_Book{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#MainSerBodyThird_BookH1{
    font-size: 1.2vw;
    font-weight: 500;
    margin-top: 40px;

}

#MainSerBodyThird_BookH2{
    font-size: 1.9vw;
    font-weight: 500;

}

#MainSerBodyThird_BookIn{
    display: flex;
    align-items: center;
    justify-content: center;
}

#MainSerBodyThird_BookIn>a{
    text-decoration: none;
    padding: 8px;
    font-size: 1.3vw;
    font-weight: 600;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
}

#MainSerBodyThird>div {
    width: 90%;
    margin-top: 100px;
    border-radius: 10px;
    height: 200px;
    background: rgb(174, 103, 250);
    background: linear-gradient(45deg, rgba(174, 103, 250, 1) 0%, rgba(244, 152, 103, 1) 100%);

}


/* forth body section */


#MainSerBody4{
    width: 100%;
    display: flex;
    justify-content: center;
}

#MainSerBody4_BigHeading{
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 40px;
}


#MainSerBody4_H2{
    font-size: 10vw;
}


#MainSerBody4_H1{
    font-size: 3vw;
}

#MainSerBody4_BigHeading>div{
    color: white;
}



/* fifth body section */

