#S_title{
    display: flex;
    align-items: center;

}
#S_Main{
    margin-top: 100px;
    padding: 0px;
}
#D_Main_services{
    background-color: rgb(0, 0, 0);
}
#S_title_head{
    color: white;
}
#D_Main_services>.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

#S_pera{
    color: white;
    margin-top: 120px;
    font-size: 30px;
    text-align: justify;
    margin-right: 30px;
    display: none;
}
#S_sub_head{
    color: white;
}

#S_sub_img{
    width: fit-content;
}

#S_sub_pera{
    color: white;
}
#S_subM_head{
    color: white;
}
#S_Main{
    width: 100%;
}

#S_pera{
    width: 100%;
}

#S_sub_pera{
    margin-left: 40px;
    text-align: justify;
}


#S_sub_box1_1{
    height: 100%;
}

#S_sub_box{

    height: 100%;
}

#Main_img_SD{
    opacity: 0.37;
}
#Main_SD{
    height: 100%;
    width: 100%;
    position: relative;
}

#Main_SD_2{
    position: absolute;
    top: 300px;
}
#Main_SD_2_1{
    display: flex;
    justify-content: center;
}
#Main_SD_2_2{
    display: flex;
    justify-content: center;
    width: 100%;
}

#S_title_head{
    font-size: 100px;
}
#S_sub_box1_2{
    display: flex;
    align-items: center;
    width: 35%;
}
#S_sub_box{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

#small_Service_head{
    color: white;
}

#small_Service{
    margin: 0px;
    width: 100%;
}

#small_Service_1{
    width: 100%;
}

#small_Service1_1{
    width: 100%;
    background-color: aliceblue;
}


#S_sub2_pera{
    margin-left: 30px;
}

#S_sub_box{
    margin: 20px;
}

#SM_sub_box{
    width: 100%;
}

#M_row_id{
    margin: 0px;
}


#SM_sub_con{
    width: 100%;
}

