#S_title {
    display: flex;
    align-items: center;

}

#S_Main {
    margin-top: 100px;
    padding: 0px;
}

#D_Main_services {
    background-color: rgb(0, 0, 0);
}

#S_title_head {
    color: white;
}

#D_Main_services>.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#Main_SD_22_1{
    width: 100%;
    display: flex;
    justify-content: center;
}

#S_pera {
    width: 80%;
    color: white;
    margin-top: 100px;
    font-size: 1.4vw;
    text-align: justify;
    display: flex;
    justify-content: center;
}

#S_sub_head {
    font-size: 2vw;
    color: white;
}

#S_sub_img {
    width: fit-content;
}

#S_sub_pera {
    color: white;
}

#S_subM_head {
    color: white;
}

#S_Main {
    width: 100%;
}


#S_sub_pera {
    font-size: 1.1vw;
    margin-left: 40px;
    text-align: justify;
}


#S_sub_box1_1 {
    height: 100%;
}

#S_sub_box {

    height: 100%;
}

#Main_img_SD {
    opacity: 0.37;
}

#Main_SD {
    height: 100%;
    width: 100%;
    position: relative;
}

#Main_SD_2 {
    position: absolute;
    top: 30%;
}

#Main_SD_2_1 {
    display: flex;
    justify-content: center;
}

#Main_SD_2_2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

#S_title_head {
    font-size: 5.2vw;
}

#S_sub_box1_2 {
    display: flex;
    align-items: center;
    width: 35%;
}

#S_sub_box {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

#small_Service_head {
    color: white;
}

.ser_table11_1 {
    color: white;

}

.ST_col1 {
    border: 2px solid white;
    border-radius: 10px;
}

.ST_col2{
    font-size: 0.8vw;
}

#ser_table_1>tr>div {
    height: 60px;
    width: 100%;
}

#ser_table_1 {
    width: 60%;
}

#hor_space {
    width: 30px;
}

.ST_col2 {
    text-align: justify;
    color: white;
    border: 2px solid white;
    padding: 10px;
    height: 90px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ST_col1 {
    color:#a9ffff;
    width: 400px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
#Under_table_pera{
    margin-top: 70px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    
}
#Under_table_pera>p{
    color: white;
    width: 70%;
}

#ser_table {
    display: flex;
    justify-content: center;
}

#small_Service {
    margin: 0px;
    width: 100%;
}

#small_Service_1 {
    width: 100%;
}

#small_Service1_1 {
    width: 100%;
    background-color: aliceblue;
}


#S_sub2_pera {
    margin-left: 30px;
}

#S_sub_box {
    margin: 20px;
}

#SM_sub_box {
    width: 100%;
}

#M_row_id {
    margin: 0px;
}


#SM_sub_con {
    width: 100%;
}