
.S_card {
  height: 170px;
  overflow: hidden;
  margin-top: 10px;
  background-image: linear-gradient(
    45deg,
    #fff 50%,
    #9cfff08e 30%,
    #7ff9ff5b 20%
  );
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.709);
  padding: 30px;
  opacity: 0.8;
  transition: 1s;
  color: rgb(0, 128, 106);
}
.SH_img {
  display: flex;
  justify-content: center;
  scale: 1.2;
}
.S_card:hover {
  background-image: linear-gradient(              
    45deg,
    #fff 50%,
    #9cfff08e 30%,
    #6dffbb4f 20%
  );
  scale: 1.05;
  opacity: 1;
  transform: rotateZ(2deg);

  
}

#S_BOX_HEADING{
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#ser_link,.I_S_card{
  background: transparent;
}

@media screen and (max-width:1300px) {
  #S_BOX_HEADING{
    font-size: large;
  }
}

@media screen and (max-width:1000px) {
  #S_BOX_HEADING{
    font-size: x-large;
  }
}


@media screen and (max-width:360px) {
  #S_BOX_HEADING{
    font-size: large;
  }
}

