#home_footer{
    background-color: black;
    padding: 20px;
}

#box_1{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    
}
#box_1>h3{
    margin-bottom: 40px;
}

#box_logo{
    width: 10%;
}

#div_box_logo{
    display: flex;
    align-items: end;

}

#box_2{
    color: white;
    padding-left: 200px;
}

#box_2>div{
    color: white;
   
}
#C_Info{
    
    padding-left: 20px;
}

#C_Info>div{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

#footer_links>ul{

    list-style: none;
}

#F_link_list{
    margin-top: 30px;
    width: 60%;
}

#F_link_list>li>div{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}

#F_link_list>li>div>a{
    color: rgb(94, 244, 255);
    text-decoration: none;
}
@media screen and (max-width:1200px) {
    #box_logo{
        width: 20%;
    }
    #box_2{
        margin-top: 40px;
        padding-left: 0px;
    }
    #F_link_list{
        width: 50%;
    }
}