#home_footer{
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
#About_data{
    width: 90%;
}
#About_data>p{
    display: flex;
    align-items: start;
    flex-direction: column;
}

#About_data>p>div:nth-child(1)>h5{
    margin-top: 5px;
    color: rgb(108, 245, 255);
    font-weight: bolder;
    
}

#About_data>p>div:nth-child(n-1){
    color: white;
}

#About_data{
    display: flex;
    flex-direction: row;
}

#About_data>div{
    margin-left: 90px;
}

#About_data>div>div{
    margin-top: 10px;
    color: white;
}