#BookinginBox>div {
    width: 40%;
    background-color: rgba(0, 0, 0, 0.151);
    display: flex;
    justify-content: center;
    margin-top: 40px;
    border-radius: 10px;
}

#BookinginBox>div>form {
    width: 80%;
}

#BookInName>div>input {
    width: 100%;
    margin-top: 50px;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
}

#BookInEmail {
    margin-top: 50px;
    
}

#BookInEmail>div>input {
    padding: 5px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}

#BookInNumber>div>input{
    width: 100%;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
#BookInNumber>div{
    position: relative;
}

#BookInNumber{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#BookinginBox {
    
    width: 100%;
    display: flex;
    justify-content: center;
}

#BookInLoc>div>input{
    width: 100%;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
#BookInHead>div{
    display: flex;
    justify-content: center;
}

#BookInHead>div>h2{
    font-weight: 900;
    font-size: 2.5vw;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#BookInSubmit{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

#BookInSubmit>div>input{
    width: 100%;
    padding: 5px;
    border: none;
    height: 45px;
    font-size: 1.4vw;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
}

#BookInLoc{
    margin-top: 50px;
}