#heading-L > span > h1 {
  font-size: clamp(8, 1, 20);
  
}

#r{
  margin-top: 150px;
}
#heading-L2 {
  display: none;
}
#heading-L2 > span > h1 {
  margin-top: 100px;
  text-align: start;
  
}

#heading-L2 > span > p {
  text-align: start;
}

#heading-L2 > span > p {
  margin-top: 30px;
}

#heading-L {
  position: absolute;
  width: 30%;
  left: 60px;
  top: 50px;
  text-align: center;
  
}

#Header_L > .container > .row > .col-5 {
  object-position: 30%;
}
#Header_L {
  position: relative;
  height: 100vh;
}

#img-div > img {
  position: absolute;
  right: 40px;
  top: -50px;
  width: 1400px;
  z-index: -2;
}

@media screen and (max-width: 1450px) {
  #img-div > img {
    width: 100%;
  }
  #heading-L > span > p {
    font-size: small;
  }
  #heading-L > span > h1 {
    font-size: x-large;
  }
}

@media screen and (max-width: 950px) {
  #img-div > img {
    top: 10px;
  }
  #heading-L > span > h1 {
    margin-top: 90px;
  }
  #heading-L {
    top: 30px;
  }
  #heading-L > span > p {
    font-size: small;
  }
  #heading-L > span > h1 {
    font-size: x-large;
  }
  #Header_L {
    height: 50vh;
  }
}

@media screen and (max-width: 850px) {

  #heading-L > span > h1 {
    margin-top: 40px;
  }
  #img-div > img {
    top: 20px;
  }
  
  #heading-L {
    top: 50px;
  }
  #heading-L > span > p {
    font-size: x-small;
  }
  #heading-L > span > h1 {
    font-size: large;
  }

  #img-div > img {
    width: 80%;
  }
  #Header_L {
    height: 50vh;
  }
}

@media screen and (max-width: 750px) {
  #heading-L > span > p {
    font-size: x-small;
  }
  #heading-L > span > h1 {
    font-size: large;
  }
  
}

@media screen and (max-width: 700px) {
  #r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #img-div {
    display: none;
  }
  #heading-L {
    display: none;
  }
  #heading-L2 {
    display: block;
  }
  #heading-L2 > span > h1 {
    text-align: center;
  }
  #Header_L {
    position: relative;
    height: 50vh;
  }
  
}

@media screen and (max-width: 370px) {
  #heading-L2 > span > h1 {
    font-size: large;
  }
  #heading-L2 > span > p {
    font-size: x-small;
  }
}
@media screen and (max-width: 500px) {
  #heading-L2 > span > h1 {
    margin-top: 140px;
  }
  
}

@media screen and (max-width: 470px) {
  #heading-L2 > span > h1 {
    margin-top: 0px;
  }
  #heading-L2 > span > h1 {
    font-size: large;
  }
  #heading-L2 > span > p {
    font-size: x-small;
  }
}