#Home_container {
    width: 100%;
    position: relative;
}



#Home_heading {
    margin-top: 200px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Home_heading>div {
    text-align: justify;

    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

#heading_box {
    width: 90%;
    height: 16vw;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: purple;
    background-image: linear-gradient(rgba(255, 255, 255, 0), black);
    padding: 30px;
    transition: 0.3s;
}

#heading_box>div>h1 {
    color: white;
}

#heading_box>div>p {
    color: white;

}

#heading_box:hover {
    box-shadow: 4px 5px 30px black;
    background-image: linear-gradient(black, rgba(255, 255, 255, 0));
}

#Services {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#service_container {
    width: 100%;
}

#service_container {
    display: flex;
    justify-content: center;
}

#service_Section_2 {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

#service_Section_2>h2 {
    width: 100%;
}


#service_box_1,
#service_box_2,
#service_box_3,
#service_box_4 {
    transition: 0.4s;
    border-radius: 10px;
    height: 10rem;
    background-color: purple;
    background-image: linear-gradient(black, rgba(255, 255, 255, 0));
    margin: 5px;
}

#service_box_4:hover {
    box-shadow: 2px 2px 20px 2px;
}

#service_box_3:hover {
    box-shadow: 2px 2px 20px 2px;
}

#service_box_2:hover {
    box-shadow: 2px 2px 20px 2px;
}

#service_box_1:hover {
    box-shadow: 2px 2px 20px 2px;
}

#service_box_row_2 {
    margin-top: 15px;
}

#service_box_1 {
    display: flex;
    align-items: center;
}

#service_box_1>a>div>img {
    width: 7vw;
}

#service_box_2>a>div>img {
    width: 7vw;
}

#service_box_3>a>div>img {
    width: 7vw;
}

#service_box_4>a>div>img {
    width: 7vw;
}


#service_box_4>a>div {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#service_box_3>a>div {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#service_box_2>a>div {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#service_box_1>a>div {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#service_box_1>a{
    text-decoration: none;
}

#service_box_2>a{
    text-decoration: none;
}

#service_box_3>a{
    text-decoration: none;
}

#service_box_4>a{
    text-decoration: none;
}


#service_box_2>a>div>p {
    text-decoration: none;
    color: white;
    text-align: center;
}

#service_box_3>a>div>p {
    color: white;
    text-align: center;
}

#service_box_4>a>div>p {
    color: white;
    text-align: center;
}


#service_box_1>a>div>p {
    color: white;
    text-align: center;
}