

.Home_body{
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.container-fluid{
    width: 90%;
    
}
#service_home{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#service_list{
    width: 60%;
    
}
.detials{
    display: flex;
    justify-content: center;
}
.detials>a{
    text-decoration: none;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
@media screen and (min-width:300px) {
    #service_list{
        width: 100%;
    }
}

@media screen and (min-width:600px) {
    #service_list{
        width: 90%;
    }
}
 @media screen and (min-width:700px) {
    #service_list{
        width: 80%;
    }
}

@media screen and (min-width:800px) {
    #service_list{
        width: 70%;
    }
} 
@media screen and (min-width:900px) {
    #service_list{
        width: 60%;
    }
} 