#Home_header_S1>div {
    width: 500px;
}

#Home_header_S1{
    margin-left: 30px;
}

#Home_header_S1>div>h1 {
    color: white;
}

#Home_header_S1>div>h6 {
    color: aqua;
}

#Home{
    position: relative;
}

#Home_Menu{
    width: 100%;
    position: absolute;
}

#Home_header_S1 {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Home_header {
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(49deg, rgba(0, 0, 0, 1) 2%, rgba(0, 0, 0, 1) 10%, rgba(0, 88, 106, 1) 100%);
}

#B_header {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#B_header>div {
    width: 70%;
}



#B_header_sec>div>div>h6 {
    padding: 8px;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    background-color: black;
    width: fit-content;
}

#B_header_sec {
    display: flex;
    justify-content: center;
}

#B_header_sec>div {
    border-left: 2px solid black;
}

#B_header_sec>div {
    display: flex;
    justify-content: start;
    align-items: start;
}

.Th_Header_S {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

#Th_Header {
    display: flex;
    justify-content: center;
}

#Th_Header>div {
    width: 70%;
}

.Th_Header_S>h1 {
    margin-bottom: 10px;
    color: rgb(0, 192, 112);
}

.Th_Header_S>span>img {
    margin-bottom: 20px;
    width: 5vw;
}

#Th_Header_section>div {
    background-color: rgb(212, 212, 212);
    /* border: 2px solid black; */
    padding: 8px;
    border-radius: 5px;
}

#Th_Header_section {
    display: flex;
    justify-content: space-around;
}

#Home_services {
    background-color: rgb(0, 8, 15);
    margin-top: 150px;
    margin-bottom: 150px;
    width: 100%;

}


#Home_services {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#Home_services>div {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* home services */

#Home_services_row {
    width: 65%;
}

#Home_services_row >div{
    margin: 20px;
}

.Home_services_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes scroll_animation {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.Home_services_box>div {
    display: flex;
    justify-content: center;
    width: 100%;
}



.Home_services_box>div>img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80px;
}

.Home_services_box>p {
    text-align: center;
    color: white;
}



#Home_services_row {
    display: flex;
    justify-content: space-between;
}

#Home_services_row>div {
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.308);
    background: rgb(0, 8, 15);
    transition: 1s;
}

#Home_services_row>div:hover {
    background: rgb(0, 28, 53);
}


#Home_services>header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Home_services>header>h2 {
    color: rgb(2, 255, 221);
    display: flex;
    justify-content: center;
}


#Home_services>header>p {
    color: white;
    display: flex;
    justify-content: center;
}

#Home_services {
    padding: 50px;
}

#B_header,
#Th_Header,
#Home_services {
    animation: scroll_animation linear;
    animation-timeline: view();
    animation-range: entry 0;
}

#Home_start_header{
    display: flex;
    flex-direction: column;
}
#Home_start_header>h1{
    color: rgb(82, 255, 203);
}
#Home_start_header>p,h1{
    color: white;
    display: flex;
    justify-content: center;
}

#Home_start_form{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

#Home_start_form>div{
    width: 50%;
}


#Home_start{
    padding: 40px;
    width: 100%;
    background-color: rgb(0, 15, 15);
    animation: scroll_animation linear;
    animation-timeline: view();
    animation-range: entry 0;
}

#start_inputs>div{
    display: flex;
    justify-content: center;
}
#start_input_s1,
#start_input_s2,
#start_input_s3{
    margin-bottom: 40px;
}

#start_input_s1>div>input,
#start_input_s2>div>input,
#start_input_s3>div>input{
    background-color: rgb(0, 29, 36);
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    color: white;
}

#start_input_s3>div>input::placeholder{
    color: rgba(255, 255, 255, 0.63);
}

#start_input_s2>div>input::placeholder{
    color: rgba(255, 255, 255, 0.63);
}

#start_input_s1>div>input::placeholder{
    color: rgba(255, 255, 255, 0.63);
}

#start_input_s2>div>select{
    background-color: rgb(0, 29, 36);
    width: 100%;
    height: 100%;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.63);
    border: none;
}

#start_submit>div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start_submit>div>button{
    width: 300px;
    height: 40px;
    border-radius: 6px;
    font-weight: 700;
    color: white;
    background-color: rgba(2, 70, 66, 0.521);
    border: none;
    margin-bottom: 30px;
    transition: 1s;
}


#start_submit>div>button:hover{
    background-color: rgba(2, 70, 66, 0.733);
}
#Home_map{
    margin-top: 100px;
    animation: scroll_animation linear;
    animation-timeline: view();
    animation-range: entry 0;
}
#Map_heading>h1{
    display: flex;
    justify-content: center;
    color: black;
}

#Home_blogs{
    width: 100%;
    background-color: white;
    animation: scroll_animation linear;
    animation-timeline: view();
    animation-range: entry 0;
}

#Home_blog_heading>h1{
    color: black;
}

#Home_blog_heading>p{
    display: flex;
    justify-content: center;
    color: black;
}

.home_blog{
    width: 100px;
    height: 150px;
    background-color: blue;
    
}
#Home_services_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Home_blogs_section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#Home_blogs_section>div{
    width: 95%;
    display: flex;
    justify-content: center;
}

#Home_blogs_section>div>div{
    width: 90%;
    display: flex;
    justify-content: center;
}
#flow{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}
#flow>h1{
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
#flow>div{
    width: 100%;
    display: flex;
    justify-content: center;
}

#home_event_set
#home_event_heading>h1{
    margin-bottom: 20px;
    color: rgb(0, 255, 238);
}

#home_event_heading>h2>span{
    font-weight: 900;
    color: aqua;
}

#home_event_heading>h2{
    color: white;
    display: flex;
    justify-content: center;
}

#home_event_heading>h3{
    color: white;
    margin-top: 40px;

}
#home_event_heading>h5{
    margin-top: 30px;
}

#home_event_heading>h5>a{
    text-decoration: none;
}

#home_event_heading{
    margin-bottom: 60px;
}

#home_event_set{
    width: 100%;
    position: relative;
    background-color: black;
    height: 650px;
    display: flex;
    justify-content: center;

}


#home_event_set>div{
    width: 90%;
    padding: 20px;
}

#home_event_pera>p{
    margin-top: 30px;
    line-height: 2;
    color: white;
    text-align: justify;

}

#home_event_set>img{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#HED_2{
    display: flex;
    justify-content: end;
}
#home_event_date>div>p{
    color: white;
}

.Home_services_box{
    width: 100%;
    display: flex;
    justify-content: start;
}
#Th_Header_section>div{
    margin: 10px;
}

#flow>div>img{
    width: 100%;
}

#Home_Middle_heading_B{
    width: 100%;
    display: flex;
    justify-content: center;
}



@media screen and (max-width:900px) {
    #B_header>div {
        width: 80%;
    }

    #Th_Header>div{
        width: 80%;
    }

    #Home_services_row {
        width: 80%;
    }
    .Home_services_box>div>img {
        width: 60%;
    }
    .Home_services_box>p{
        font-size: 1.7vw;
    }
    #Home_start_form>div{
        width: 60%;
    }
}

@media screen and (max-width:800px) {
    #B_header>div {
        width: 99%;
    }
    #Th_Header>div{
        width: 99%;
    }
    #Home_services_row {
        width: 99%;
    }
    #Home_start_form>div{
        width: 70%;
    }
    #B_header_sec>div>div>h6{
        font-size: smaller;
    }
    #B_header_sec>div>div>p{
        font-size: 2.1vw;
    }
}

@media screen and (max-width:500px) {
    #Home_services{
        margin: 0px;
        padding: 0px;
    }
    #Home_services_row {
        width: 100%;
    }

    #Home_start{
        padding: 0px;
        padding-top: 20px;
    }
    #Th_Header_section>div{
        margin: 5px;
    }

    .Th_Header_S>span>img{
        width: 50px;
    }
    
    #B_header_sec>div>div>h6{
        font-size: smaller;
    }
    #B_header_sec>div>div>p{
        font-size: fo;
    }
    #Home_services>header>h2{
        font-size: 3.6vw;
    }
    #Home_start_form>div{
        width: 100%;
    }

    #home_event_heading>h1{
        font-size: 5vw;   
    }
    #home_event_heading>h3{
        font-size: 3vw;   
    }

    #home_event_heading>h5>a{
        font-size: 3vw;   
    }
    #HED_1,#HED_2{
        font-size: 2.4vw;
    }

    #home_event_pera>p{
        font-size: 2.4vw;
    }

    #home_event_set{
        height: fit-content;
    }

    #home_event_set>img{
        width: 100%;
    }
}