div {
    color: wheat;

}

html {
    scroll-behavior: smooth;
}

#Header_Heading_1{
    width: 100%;
    display: flex;
    justify-content: center;
}

#Header_Heading_1>div{
    width: 70%;
    color: white;
    margin-top: 50px;
    text-align: justify;
}

#Header_Heading>span>h1{
    color: white;
    font-size: 60px;
}


#Header_Heading{
    top: 5%;
    left: 10%;
    position: absolute;
    color: white;
    width: 800px;
}

#Header_Heading>p{
    font-size: 20px;
}


#Header_L>div>video {
    position: relative;
    width: 100vw;
    height: auto;
}

#home {
    position: relative;
    width: 100vw;
    height: 100%;
    background: #061113;
    background-size: 100vh 100vw;
}

#Rest {
    /* position: absolute; */
    z-index: -10;
}

#D_P_up,
#B_P_down {

    position: fixed;
    right: 10px;


}

#B_P_up,
#B_P_down {
    border: none;
    background: none;

}


#B_P_up>img,
#B_P_down>img {
    width: 50%;

}

#D_P_up {
    z-index: 55;
}

#B_P_down {
    bottom: 10px;
    z-index: 55;
}

/* book Now Section */

#book_now {
    display: flex;
    justify-content: center;
}

#book_box_1 {
    border: 3px solid rgba(0, 0, 0, 0.274);
    padding: 15px;
    border-radius: 10px;
    width: 850px;
    background-color: rgb(154, 255, 233);
}

#book_box_1_2 {
    display: flex;
    justify-content: end;
}

#book_box_1_2>button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #061113;
    border: none;
    width: 120px;
    border-radius: 5px;
    height: 50px;
    transition: 1s;

}

#book_box_1_2>button>a {
    text-decoration: none;
    color: rgb(173, 173, 173);
}

#book_box_1_1>h3 {
    color: rgb(0, 0, 0);
}



#book_box_1_2>button:hover~#Book_Link {
    color: white;
}

#world_head_1>h3{
    font-size: 2.0vw;
    color: white;
}


#world_head_1{
    margin-top: 60px;
    width: 70%;
}

#world_head{
    
    display: flex;
    justify-content: center;
}

#world_head_1>p{
    text-align: justify;
    font-size: 1.1vw;
    margin-top: 10px;
    color: white;
}

#book_box_1_1{
    display: flex;
    align-items: center;
}

#Header_Heading_1>div>h2{
    font-size: 2.0vw;
}
#Header_Heading_1>div>p{
    text-align: justify;
    font-size: 1.1vw;
}

@media screen and (max-width:1090px) {
    #world_head_1>h3{
        font-size: 3vw;
    }
    #world_head_1>p{
        font-size: 2vw;
    }
    #Header_Heading_1>div>h2{
        font-size: 3vw;
    }
    #Header_Heading_1>div>p{
        font-size: 2vw;
    }
}


@media screen and (max-width:1000px) {
    #Header_Heading>span>h1{
        font-size: 4vw;
      }
      #Header_Heading>p{
        font-size: 2vw;
      }

    
    

    #book_box_1 {
        width: 75%;
    }
    #book_box_1_1>h3 {
        font-size: 2vw;
    }
    #book_box_1_2>button {
        width: 50%;
        height: 6vw;
    }
}
@media screen and (max-width:600px) {

    #world_head_1>h3{
        font-size: 5vw;
    }
    #world_head_1>p{
        font-size: 2vw;
    }
    #Header_Heading_1>div{
        width: 85%;
    }
    #Header_Heading_1>div>h2{
        font-size: 5vw;
    }
    #Header_Heading_1>div>p{
        font-size: 2.5vw;
    }

    #world_head_1{
        width: 85%;
    }

    #Header_Heading{
        top: 6%;
        left: 10%;
    }

    #book_box_1_1>h3 {
        font-size: 1.5vw;
    }

    #D_P_up,
    #B_P_down {
        display: none;
    }

    #home {
        background-position: 80%;
        background-size: auto;
    }
    #Header_Heading>span>h1{
        font-size: 4vw;
    }
}

@media screen and (max-width:500px) {
    #Header_Heading{
        top: 6%;
    }
    #Header_Heading{

        width: 100%;
        left: 0%;
    }
    #Header_Heading>p{
        font-size: 2.4vw;
        display: flex;
        justify-content: center;
    }
    #Header_Heading>span>h1{
        font-size: 5vw;
        display: flex;
        justify-content: center;
    }
    #book_box_1_2>button {
        width: 100px;
        border-radius: 5px;
        height: 40px;
        transition: 1s;
    
    }
    #book_box_1_2>button>a  {
        font-size: 3vw;
        font-weight: bolder;
    }
    #book_box_1_1>h3{
        display: flex;
        align-items: center;
        font-size: 2.7vw;
        font-weight: bold;
    }
    #book_box_1 {
        width: 90%;
    }
    #footer_logo>div>img{
        width: 30vw;
    }

}