.open-sidebar-bt>img {
    width: 40px;
}

.close-sidebar-bt>img {
    width: 70px;
    padding-left: 20px;
}

.logo {
    width: 100px;

}

.Menu-m {
    width: 100%;

}

nav {
    height: 80px;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    margin-right: 300px;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 1.3vw;
}

#jU {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition: 1s;
}

#jU:hover {
    transform: rotateZ(10deg);
}

nav .M-logo {
    margin-right: auto;
    margin-left: 300px;
}

.links-container>a:hover {
    text-decoration: underline;
}

#sidebar-active {
    display: none;
}

.open-sidebar-bt {
    padding-right: 10px;
    display: none;
}

.close-sidebar-bt {
    display: none;
}

nav .M-logo {
    color: white;
}

nav .S-logo {
    display: block;
    margin-left: 10px;
    margin-right: auto;
    color: white;
}

.S-logo>img {
    width: 7vw;
}

@media screen and (max-width:1450px) {

    .links-container {
        margin-right: 200px;
    }

    nav .M-logo {
        margin-left: 200px;
    }
}

@media screen and (max-width:1170px) {
    .links-container {
        margin-right: 100px;
    }

    nav .M-logo {
        margin-left: 100px;
    }
}

@media screen and (max-width:930px) {
    .links-container {
        margin-right: 0px;
    }

    nav .M-logo {
        margin-left: 20px;
    }
}

@media screen and (max-width:900px) {
    .links{
        padding-bottom: 10px;
        padding-bottom: 15px;
    }
    nav a {
        color: white;
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 30px 40px;
    }

    nav a {
        font-size: 2vh;
    }

    .links-container {
        flex-direction: column;
        background-color: black;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        width: 400px;
        transition: 0.4s ease-out;
    }

    nav .S-logo {
        display: block;
    }

    nav .M-logo {
        display: none;
    }

    .open-sidebar-bt,
    .close-sidebar-bt {
        display: block;
    }

    #sidebar-active:checked~.links-container {
        right: 0;
    }

    #sidebar-active:checked~#overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }

    @media screen and (max-width:500px) {
        .links-container {
            width: 200px;
        }

        nav {
            height: 80px;
        }

        .logo {
            width: 80px;

        }

        .open-sidebar-bt>img {
            width: 40px;
        }
    }
}

@media screen and (max-width:370px) {
    .logo {
        width: 70px;

    }

    .M_logo {
        width: 70px;
    }
}


@media screen and (max-width:770px) {
    .S-logo>img {
        width: 70px;
    }
}
@media screen and (max-width:430px) {
    .S-logo>img {
        width: 50px;
    }
    nav{
        height: 50px;
    }
}