#Logo_sectionOHM>img{
    width: 4.2vw;
}
#Logo_sectionOHM{
    display: flex;
    align-items: center;
}

/* *{
    margin: 0px;
    padding: 0px;
} */
#Link_sectionOHM{
    display: flex;
    align-items: center;
}
#Link_sectionOHM>ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#Link_sectionOHM>ul>li{
    height: 50px;
}

#Link_sectionOHM>ul>li>a{
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.2vw;
}

.N_links{
    font-weight: 600;
}

.N_links_mobile{
    color: white;
}

#BookNow_sec{

    background-color: black;
    border-radius: 6px;
    width: 10.7vw;
    height: 30px;
}

#BookNow_sec>a,#BookNow_sec_mobile>a{
    color: white;
}

#Link_sectionOHM{
    margin: 0px;
}

#InHomeMenu{
    
    position: relative;
    height: 60px;
}


#InHomeMenu_mobile{
    
    position: fixed;
    display: none;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: hsla(0, 0%, 0%, 0.411);
    backdrop-filter: blur(10px);
    transition: width 1s;
}

#Link_sectionOHM_mobile>ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    display: flex;

}

#Link_sectionOHM_mobile>ul>li>a{
    text-decoration: none;
    font-size: 1.2vw;
}

#Link_sectionOHM_mobile>ul>li{
    margin-top: 30px;
    
}
#ShowSide{
    display: none;
    justify-content: center;
    align-items: center;
}

#Link_sectionOHM_mobile>ul>li>a{
    font-size: 4.7vw;
}

#BookNow_sec_mobile{
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 5px;
}



@media screen and (max-width: 500px) {
    #ShowSide{
        display: flex;
    }

    #Link_sectionOHM>ul>li>a,#BookNow_sec{
        display: none;
    }
    #Logo_sectionOHM>img{
        width: 8.2vw;
    }
}

@media screen and (max-width: 1000px) {
    #Link_sectionOHM>ul>li>a{
        font-size: 1.5vw;
    }
}