#EventsMenu>div{
    height: 70px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;

}

#event_nav{
    width: 100%;
}


#event_nav_1{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



#event_nav>div{
    display: flex;
    flex-direction: row;
    width: 100%;

}

#event_nav_2{
    display: flex;
    justify-content: end;
}

#event_nav_1>div>a{
    color: black;
    font-size: 1.3vw;
}

#event_nav_2>div>a{
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.3vw;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 6px;
    text-decoration: none;
}