#BookingConselting{
    background-color: #040C18;
}

#BookingCon_Header{
    width: 100%;
    display: flex;
    justify-content: center;
}
#BookingCon_Big{
    color: white;
    font-size: 3.5vw;
    margin-top: 100px;
}

#BookingCon_Small{
    color: white;
    font-size: 1.2vw;
    margin-top: 30px;
}
#BookingCon_Header>div{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#BookingCon_Pera{
    width: 62%;
    color: #81AFDD;
    text-align: center;
    margin-top: 80px;
}

.BookingCon_Bar {
    width: 40px;
    height: 5px;
    background: rgb(174, 103, 250);
    background: linear-gradient(45deg, rgba(174, 103, 250, 1) 0%, rgba(244, 152, 103, 1) 100%);
}

#BookingConPlate{
    width: 100%;
    display: flex;
    justify-content: center;
}

#BookingConPlate>div{
    margin-top: 150px;
    width: 95%;
    display: flex;
    justify-content: center;
    background-color: #042C54;

}

#BookingConPlate_con{
    width: 90%;
    margin-top: 60px;
}

#BookingConPlate_TopHeading{
    color: white;
    font-size: 1.6vw;
}

#BookingConPlate_TopPera{
    color: white;
    font-size: 1vw;
    margin-top: 30px;
    width: 60%;
    margin-left: 40px;
}

#BookingConPlate_TopWrite1{
    margin-top: 40px;
}

#BookingConPlate_TopHeading1{
    color: white;
    font-size: 2.5vw;
    width: 40%;
}


#BookingConPlate_TopPera1{
    color: white;
    font-size: 1.5vw;
    margin-top: 30px;
    width: 50%;

}
/* 
Booking Form  */


#BookingConPlate_Form{
    width: 100%;
    margin-top: 60px;
    border: 1px solid #707070;
    margin-bottom: 60px;
}

/* Layer 1 */


#BookingConPlate_FormLayer1{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

#BookingConPlate_FormLayer1>div{
    display: flex;
    flex-direction: column;
}

#BookingConPlate_FormLayer1>div>label{
    color: white;
    font-size: 1.3vw;
}

#BookingConPlate_FormLayer1>div>input{
    height: 40px;
    background-color: #7CACDC;
    margin-top: 10px;
}


/* Layer 2 */

#BookingConPlate_FormLayer2{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

#BookingConPlate_FormLayer2>div{
    display: flex;
    flex-direction: column;
}

#BookingConPlate_FormLayer2>div>label{
    color: white;
    font-size: 1.3vw;
}

#BookingConPlate_FormLayer2>div>input{
    height: 40px;
    background-color: #7CACDC;
    margin-top: 10px;
}

/* Layer 3 */

#BookingConPlate_FormLayer3{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

#BookingConPlate_FormLayer3>div{
    display: flex;
    flex-direction: column;
}

#BookingConPlate_FormLayer3>div>label{
    color: white;
    font-size: 1.3vw;
}

#BookingConPlate_FormLayer3>div>input{
    height: 40px;
    background-color: #7CACDC;
    margin-top: 10px;
}

/* Layer 4 */

#BookingConPlate_FormLayer4{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

#BookingConPlate_FormLayer4>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#BookingConPlate_FormLayer4LaberRow{
    display: flex;
    align-items: center;
    width: 100%;
}

#BookingConPlate_FormLayer4Laber{
    margin: 0px;
    padding: 0px;
}

#BookingConPlate_FormLayer4Laber>label{
    color: white;
    font-size: 1.3vw;
}

#BookingConPlate_FormLayer4>div>input{
    height: 40px;
    background-color: #7CACDC;
    margin-top: 10px;
}

/* Layer 5 */

#BookingConPlate_FormLayer5{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

#BookingConPlate_FormLayer5>div{
    display: flex;
    justify-content: start;
}


#BookingConPlate_FormLayer5>div>input{
    margin-bottom: 40px;
    background-color: #7CACDC;
    margin-top: 10px;
    width: 240px;
    padding: 10px;
    font-size: 1.3vw;
    font-weight: 600;
}

input{
    outline: none;
    padding: 5px;
}


/* Blog SEction */


#MainSerBlog{
    display: flex;
    justify-content: center;
}


#MainSerBlog>div{
    width: 90%;
}

#MainSerBlog_BigSec>div>img{
    width: 100%;
}


#MainSerBlog_BigSec>div>div{
    padding: 20px;
}

#MainSerBlog_BigSecDate{
    color: white;
}

#MainSerBlog_BigSecHeading{
    font-size: 1.8vw;
    color: white;
    margin-top: 20px;
}

#MainSerBlog_BigSec>div{
    background-color: #042C54;
    width: 80%;
    margin-top: 60px;
    margin-bottom: 60px;
}



#MainSerBlog_BigTextSec1{
    margin-top: 20px;
}

#MainSerBlog_BigSecSHeading{
    color: white;
    margin-top: 100px;
}

#MainSerBlog_BigSec{
    display: flex;
    justify-content: center;
    
}

#MainSerBlogSmallSec>img{
    width: 100%;
}

#MainSerBlogSmallSec{
    margin-top: 60px;
    padding: 0px;
    background-color: #042C54;
}

#MainSerBlogSmallSec_TextCon>div{
    color: white;
    
}

#MainSerBlogSmallSec_heading{
    margin-top: 10px;
}


#MainSerBlogSmallSec_Read{
    margin-top: 20px;
}

#MainSerBlogSmallSec_TextCon{
    padding: 20px;
}


#MainSerBlog_SmallSec>div{
    display: flex;
    justify-content: space-around;
}