#Events_heading-2{
    display: flex;
    align-items: center;
    justify-content: center;

}
#Events_menu_div{
    margin-bottom: 100px;
}

#Game_div{
    margin-left: -10vw;
    line-height: 0.8;
    font-size: 20vw;
    text-align: center;
    font-weight: bolder;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}
/* #Events_heading{
    margin-top: 50px;
} */


#sub_Events_heading_1{
    margin-left: 50px;
}

#sub_Events_heading_1_1{
    font-size: 1.5vw;
    color: #707070;
}

#sub_Events_heading_1_2{
    color: #707070;
    font-size: 8vw;
    font-weight: bold;
}
#sub_Events_heading_1_3{
    color: #707070;
    font-size: 1.3vw;
    margin-top: 30px;
}
#Event_search_in{
    padding: 0px;
    height: 40px;
    box-shadow: 0px 3px 6px;
    border-radius: 15px;
}

#Event_search_in>input{
    height: 100%;
    width: 90%;
    margin-left: 5%;
    border: none;   
    outline: none;
}

#Event_search_btn>input{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: transparent;
    font-size: 1.3vw;
    border: none;
    box-shadow: 0px 3px 6px;
}

#sub_Events_heading_2{
    width: 600px;
    margin-top: 60px;
    margin-left: 50px;
}

#Events_search_con{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    
}
#sub_Events_heading_2{
    font-weight: bold;
    margin-top: 90px;
}

#Events_under_search_pera>p{
    font-weight: bold;
    width: 70%;
    text-align: center;
}
#Events_under_search_pera{
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#Events_heading{
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

#Events_Search{
    width: 50%;
}

/* #Event_list{
    border-top: 1px solid #000000;
} */
#Event_box_border{
    display: flex;
    justify-content: center;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
#Event_box{
    width: 97%;
    margin: 30px;
}

#Event_box_detials{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Event_box_heading{
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

#Event_box_pera{
    text-align: center;
    font-size: 20px;
}
#Event_box_info_con{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#Event_box_info{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#Event_box_info>div{
    display: flex;
    justify-content: center;
}
#Event_box_img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#Event_box_img>img{
    width: 100%;
}

#Events_subscribe_container{
    width: 100%;
    display: flex;
    justify-content: center;

}

#Events_subscribe{
    width: 80%;
    background-color: rgba(0, 0, 0, 0.11);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 100px;
    border: 1px solid #A0A0A0;
    margin-bottom: 100px;
}

#Events_subscribe>div>div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

#Event_subscribe_in{
    padding: 0px;
    height: 40px;
    box-shadow: 0px 3px 6px;
    border-radius: 15px;
    background-color: white;
}

#Event_subscribe_in>input{
    height: 100%;
    width: 90%;
    margin-left: 5%;
    border: none;
    outline: none;
}
#Events_in_subscribe{
    width: 90%;
}
#Event_subscribe_btn>input{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    font-size: 1.3vw;
    border: none;
    box-shadow: 0px 3px 6px;
}

#Events_subscribe_pera{
    text-align: center;
    font-size: 23px;
}

@media screen and (max-width: 500px) {
    #Game_div{
        font-size: 15vw;
        display: none;
    }

    #sub_Events_heading_1_2{
        font-size: 16vw;
    }
    #sub_Events_heading_1_1{
        font-size: 4vw;
    }
    #sub_Events_heading_1_3{
        font-size: 2.5vw;
        width: 300px;
    }

    #sub_Events_heading_2{
        margin-top: 40px;
        font-size: 2vw;
        width: 300px;
    }

    #Events_Search{
        width: 85%;
    }

    #Event_search_btn>input{
        font-size: 4vw;
    }
}
