
#Event_head>div>img{
    width: 100%;
    opacity: 0.4;
}

#Event_head{
    z-index: -1;
    margin-bottom: -120px;
    position: relative;
    background-color: black;
}




#Event_heading>h1{
    display: flex;
    justify-content: center;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: transparent;
    
}

#Event_heading{
    top: 30%;
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
}

#Timer_box>div{
    display: flex;
    justify-content: center;
    align-items: end;
}

#Timer{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 45%;
}

#Timer_box{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#Timer_box>div>h1{
    color: white;
}

#Timer>div{
    height: 120px;
    width: 70%;
    border-radius: 20px;
    background-color: rgba(0, 46, 46, 0.767);
    display: flex;
    align-items: center;
    justify-content: center;
}

#event_main_box {
    margin-top: 35%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#event_main_box>div>h3 {
    z-index: 4;
    font-weight: 700;
    color: white;
    font-size: 1.8vw;
}

#Reg_box {
    width: 100%;
    display: flex;
    justify-content: center;
}

#Reg_box1_1 {
    font-weight: 700;
    font-size: 1.5vw;
}

#Reg_box_1 {
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Reg_box_1 {
    background-color: rgba(197, 209, 207, 0.575);
    border-radius: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#Reg_box_1>div {
    display: flex;
    justify-content: center;
}

#Reg_box1_2>a>div {
    background-color: black;
    color: white;
    text-decoration-line: none;
    height: 40px;
    width: 120px;
}

#Reg_box1_2>a>div {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Reg_box1_2>a {
    text-decoration: none;
}


#event_main_box>div {
    background-color: rgb(28, 0, 46);
    margin: 30px;
    width: 20vw;
    height: 3.8vw;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#event_main_box_2 {
    position: absolute;
    background-color: rgb(28, 0, 46);
    top: 86%;
    width: 20vw;
    height: 3.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
#event_body{
    text-align: justify;
}


#event_main_box_2>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#event_main_box_2>div>h3 {
    color: white;
    font-weight: 700;

}

#event_img_box {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#event_img_box>img {
    width: 65%;
}

#event_body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#event_main_col_1>h3 {
    font-size: 1.8vw;
}

#event_body {
    background-color: rgb(255, 255, 255);
}

#event_body>h3 {
    margin-top: 30px;
    font-size: 2vw;
    width: 70%;
    display: flex;
    justify-content: center;
}

#event_data_set1_1 {
    border-radius: 10px;
    border: 2px solid rgba(92, 92, 92, 0.377);
    width: 70%;
    padding: 10px;
}

#event_data_set_1 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#event_data_set_2 {
    width: 69%;
    border: 1px solid black;

}

#event_data_set_2>td,
#event_data_set_2>tr>th {
    border: 1px solid black;
    border-radius: 10px;
    border-collapse: collapse;
}