#events_page{
    display: flex;
    background-color: black;
}

#event_head_img{
    width: 100%;
}


#event_head{
    display: flex;
    justify-content: center;
}

#events_box{
    display: flex;
    justify-content: center;
    margin: 0px;
    position: relative;
}
#events_main_heading{
    position: absolute;
    z-index: 4;
    margin-top: 30px;
    top: 20%;
    
}


#events_main_heading>h1{
    color: rgb(255, 255, 255);
    font-weight: 900;
}

#couter_box{
    position: absolute;
    width: 900px;
    height: 120px;
    background-color: rgba(0, 255, 255, 0.856);
    display: flex;
    align-items: center;
    top: 50%;
    border-radius: 20px;
}

#couter_box>div{
    display: flex;
    justify-content: center;
}

#couter_box>div>div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}