#blog_con{
    margin-bottom: 60px;
}
.Main_Blogs>h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 100px;
    margin: 0px;
    margin-left: 20%;
    padding-top: 130px;

}
.Main_Blogs{
    position: relative;
    z-index: 1;
    background: #061113;
}
.M{
    z-index: 2;
}
.Main_blog{
    margin-top: 40px;
    width: 100%;
}


.Menu-m{
    z-index: 20;
    position: absolute;
}

#Main_Blogs>.container{
    
    width: 40%;
}

#blog_row{
    
    width: 80%;
}


#blog_con{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:500px){
    .Main_Blogs>h1{
        font-size: 4vw;
        margin-bottom: 20px;
    }
}