html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: rgb(1, 18, 24);
}

#Book_Now{
    display: flex;
    justify-content: center;
}

#Book_Now>div{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#Book_Now>div>div{
    
    width: 100%;
}

#Book_box_2>h2{
    margin-top: 50px;
    color: white;
}
#Book_box_1>p{
    color: white;
    width: 95%;
    text-align: justify;
    font-size: small;
}
#B_name,#B_E_mail,#B_Phone{
    margin: 3px;
    width: 100%;
}

#book_form{
    margin-top: 30px;
}
#F_Sec_1_1,#F_Sec_1_2{
    margin-top: 3px;
}
#B_adrress{
    margin: 3px;
    margin-top: 3px;
    width: 100%;
}
#Book_box_2{
    margin-top: 10px;
    border: 2px solid rgb(30, 229, 255);
}

#B_name,#B_E_mail,#B_Phone,#B_adrress{
    background-color: transparent;
    border: 2px solid rgb(11, 226, 255);
}