/* #IN,#DB,#KW {
    display: flex;
    align-items: center;
    color: white;
    position: absolute;
    height: max-content;
    font-size: small;
} */



#World_img>img{
    width: 700px;
}


#text {
    background-color: rgb(20, 239, 255);
    opacity: 0;
    width: auto;
    height: auto;
    padding: 8px;
    border-radius: 10px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    scale: 0;
    transition: 0.7s;
}

#world_map {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

#world2 {
    position: relative;
}

@keyframes dot_animation {
    0%{
        /* scale: 0; */
        opacity: 0;
    }
    50%{
        /* scale: 1; */
        opacity: 1;
    }
    100%{
        /* scale: 0; */
        opacity: 0;
    }
}

#dot {
    background-color: rgb(255, 0, 0);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-right: 20px;
    /* animation-name: dot_animation;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; */
}

#IN{
    position: absolute;
    top: 56%;
    right: 23%;
}

#US{
    
    position: absolute;
    top: 42%;
    right: 80%;
}
#UK{
    position: absolute;
    top: 33%;
    right: 34%;
}
#DB{
    z-index: 4;
    position: absolute;
    top: 54%;
    right: 17%;
}
#KW{
    position: absolute;
    top: 47%;
    right: 21%;
}
#SG{
    position: absolute;
    top: 66%;
    right: 2%;
}
#dot:hover~#dot{
    opacity: 0;
}

#dot:hover~#text {
    opacity: 1;
    scale: 1;
    color: rgb(0, 0, 0);
}

@media screen and (max-width:800px) {
    #World_img>img{
        width: 600px;
    }

    #IN{
        position: absolute;
        top: 56%;
        right: 21.5%;
    }
    
}

@media screen and (max-width:660px) {
    #World_img>img{
        width: 450px;
    }

    #IN{
        position: absolute;
        top: 56%;
        right: 17.5%;
    }

    #dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
    
}


@media screen and (max-width:460px) {
    #World_img>img{
        width: 350px;
    }

    #IN{
        position: absolute;
        top: 56%;
        right: 17.5%;
    }

    #dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
    
}



