#heading-L > span > h1 {
  font-size: clamp(8, 1, 20);
}
#heading-L2 {
  display: none;
}
#heading-L2 > span > h1 {
  text-align: start;
}

#heading-L2 > span > p {
  text-align: start;
}

#heading-L2 > span > p {
  margin-top: 30px;
}

#heading-L {
  position: absolute;
  width: 40%;
  left: 100px;
  top: 100px;
}

#Header_L > .container > .row > .col-5 {
  object-position: 30%;
}
#Header_L {
  position: relative;
  height: 100vh;
}

#img-div > img {
  position: absolute;
  right: 40px;
  top: -50px;
  width: 90%;
}

@media screen and (max-width: 950px) {
  #img-div > img {
    top: 10px;
  }
  #heading-L {
    top: 30px;
  }
  #heading-L > span > p {
    font-size: medium;
  }
  #heading-L > span > h1 {
    font-size: xx-large;
  }
}

@media screen and (max-width: 850px) {
  #img-div > img {
    top: 20px;
  }
  #heading-L {
    top: 50px;
  }
  #heading-L > span > p {
    font-size: small;
  }
  #heading-L > span > h1 {
    font-size: x-large;
  }

  #img-div > img {
    width: 80%;
  }
}

@media screen and (max-width: 750px) {
  #heading-L > span > p {
    font-size: x-small;
  }
  #heading-L > span > h1 {
    font-size: large;
  }
}

@media screen and (max-width: 600px) {
  #r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #img-div {
    display: none;
  }
  #heading-L {
    display: none;
  }
  #heading-L2 {
    display: block;
  }
  #heading-L2 > span > h1 {
    text-align: center;
  }
}

@media screen and (max-width: 370px) {
  #heading-L2 > span > h1 {
    font-size: large;
  }
  #heading-L2 > span > p {
    font-size: small;
  }
}
