#blog_list{
    display: flex;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
}

#blog_list_boxs{
    height: 370px;
    padding: 0px;
    scale: 1;
    opacity: 1;
}

#slider_3{
    right: -40px;
    z-index: 2;
    top: 40%;
}

#slider_3>button{
    width: 70px;
    height: 60px;
    border-radius: 50px;
    border: none;
    /* background-color: rgba(0, 0, 0, 0.096); */
}



#slider_1>button{
    width: 70px;
    height: 60px;
    border-radius: 50px;
    border: none;
    /* background-color: rgba(0, 0, 0, 0.096); */
}

#slider_1{
    left: -40px;
    top: 40%;
    z-index: 2;
}


#slider_3,#slider_1{

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Slide_box{
    margin-top: 80px;
    position: relative;
    margin-bottom: 80px;
}

#slider_2{
    display: flex;
    justify-content: center;
}

#slider_3>button>img{
    width: 100%;
}

#slider_1>button>img{
    transform: rotate(180deg);
    width: 100%;
}

#slider_3>button:focus~#blog_list_boxs{
    animation-name: blog_box_anime;
    animation-iteration-count: 1;
    animation-duration: 5s;

}

#blog_list_boxs{
    background-color: black;
    border: none;
    position: relative;
}

.back_blog_img{
    border-radius: 10px;
    position: absolute;
    z-index: -4;
    width: 100%;
    opacity: 0.76;
}

.back_blog_head{
    color: white;
}
.back_blog_subH{
    margin: 20px;
    color: white;
}

@keyframes focusbtn {
    0%{
        opacity: 1;
        opacity: 1;
    }
    50%{
        opacity: 0.6;
        opacity: 0.6;
    }
    100%{
        opacity: 1;
        opacity: 1;
    }
}

@keyframes blog_box_anime {
    0%{
        opacity: 1;
        opacity: 1;
    }
    50%{
        opacity: 0.6;
        opacity: 0.6;
    }
    100%{
        opacity: 1;
        opacity: 1;
    }
}
