#Ca_img_shape {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    transform: skewY(-5deg);
    margin-top: -100px;
}

#Carrier_head_img>img {
    width: 100%;
    margin-top: -330px;
}

#Carrier_header {
    position: relative;
}

#Carrier_Menu{
    position: absolute;
    width: 100%;
}

#Ca_header_text {
    width: 100%;
    position: absolute;
    top: 85%;
}

#Ca_text {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;

}

#Ca_textb-1 {
    font-weight: bolder;
    font-size: 50px;
    font-family: Roboto;
}

#Ca_text-1 {
    font-family: Roboto;
}

#Ca_text-1>span {
    font-weight: bold;
}

#Ca_textb-2 {
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;

}

#Carrier_Main_point {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

#Carrier_Main_point>div {
    height: 350px;
    margin-bottom: 40px;
    border: 1px solid #707070;
}

#Ca_MP_container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}


#Ca_MP_head {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 3vw;
    font-weight: bolder;
    color: #707070;
}

#Ca_MP_Pera {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
    color: #707070;
}

#Middle_heading {
    display: flex;
    justify-content: center;
    position: relative;
}

#Middle_heading_B {
    display: flex;
    align-items: center;
    font-size: 350px;
    font-weight: bold;
    color: #F6F6F6;
    text-shadow: 2px 4px 10px #707070;
}

#Middle_heading_S {
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 130px;
    top: 50%;
    font-weight: bold;
    z-index: 2;

}

#Middle_Pera {
    display: flex;
    justify-content: center;
}

#Middle_Pera_1 {
    text-align: center;
    width: 70%;
    font-size: 17px;
}

#carrier_Why {
    display: flex;
    justify-content: center;
}

#carrier_Why_con {
    width: 95%;
    margin-top: 100px;
    margin-bottom: 100px;
}

#carrier_Why_row {
    margin-top: 100px;
}

#Middle_Pera_2 {
    margin-top: 25px;
    font-size: 17px;
}

#carrier_Why_img>img {
    width: 100%;
}

#carrier_Why_head {
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 60px;
}

#carrier_Why_pera {
    text-align: center;
    font-size: 23px;
}

#unique {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.03);
}

#unique>div{
    width: 90%;
}

#unique_head {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: bolder;
    color: #050505;
}

#unique_container {
    display: flex;
    justify-content: space-around;
    margin-top: 180px;
    margin-bottom: 100px;
}


.unique_container_head {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.unique_container_pera {
    text-align: center;
}

#future_head {
    font-size: 60px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#future_pera {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#future_pera>p {
    width: 52%;
    text-align: center;
}

#join_head {
    font-family: Franklin Gothic;
    font-size: 100px;
    font-weight: bolder;
    line-height: 120%;
    margin: 40px;
}

#join_button>div {
    display: flex;
    align-items: center;
    background-color: #D6D6D6;
    width: max-content;
    height: max-content;
    margin: 30px;
    padding: 15px;
    border-radius: 120px;
    border: 1px solid #707070;
}

#join_button>div>a {
    font-size: 70px;
    text-decoration: none;
    font-weight: bolder;
    color: #050505;
    padding-left: 15px;
}

#join_button>div>a>img {
    margin-left: 25px;
}

#join_part_pera {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#Carrier_list_search_con {
    display: flex;
    justify-content: center;
}

#Carrier_list_search {
    width: 80%;
}

#Carrier_list_search_btn {
    position: relative;
}

#Carrier_list_search_btn>input {
    position: absolute;
    width: 100%;
    height: 100%;
}

#Carrier_list_search_in>input {
    width: 100%;
    height: 70px;
    padding: 5px;
}

#Carrier_list_con {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#Carrier_list_con>div {
    width: 96%;
}

#Carrier_box_heading {
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#Carrier_box_1 {
    width: 85%;
}

#Carrier_box_info {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#Carrier_box_info>div {
    display: flex;
    justify-content: center;
}

#Carrier_box_pera {
    text-align: center;
}

#Carrier_box_heading {
    font-weight: bold;
    font-size: 20px;
}

#Carrier_box {

    display: flex;
    justify-content: center;
}

#Carrier_box_1 {
    border: 1px solid #707070;
    padding: 40px;
}

#Carrier_box_1 {
    margin-top: 50px;
    background-color: #ffffff;
}

#Carrier_list_con>div {
    display: flex;
    justify-content: space-around;
}

#Carrier_list_gradient {
    padding-bottom: 100px;
    margin-top: 100px;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.397) 0%, rgba(255, 255, 255, 1) 100%);
}

#Carrier_list_search_in>input{
    outline: none;
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 20px;
}
#Carrier_list_search_btn>input{
    font-size: 19px;
    border-radius: 40px;
    background-color: transparent;
}

@media screen and (max-width:800px) {

    #Carrier_Main_point{
        margin-top: 150PX;
    }
    #Ca_MP_head{
        margin-top: 20px;
        font-size: 3vw;
    }

    #Carrier_Main_point>div {
        height: auto;
    }
    #Ca_textb-1{
        font-size: 6.9vw;
    }
    #Ca_textb-2{
        font-size: 3vw;
        font-weight: 400;
    }
    #Ca_MP_Pera{
        font-size: 2.2VW;
        margin-bottom: 10px;
    }

    #Middle_heading_B{
        font-size: 20vw;
    }

    #Middle_Pera_1{
        font-size: 2.5vw;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #Middle_Pera_2{
        font-size: 2.5vw;
        width: 90%;
    }

    #Middle_Pera{
        width: 100% ;
    }

    #carrier_Why_pera{
        font-size: 2vw;
    }

    #carrier_Why_head{
        margin-bottom: 20px;
        font-size: 4vw;
    }

    #unique_head{
        font-size: 5vw;
    }
    #unique_container{
        margin-top: 80px;
        margin-bottom: 10px;
    }

    .unique_container_head{
        font-size: 2.4vw;
        text-align: center;
    }
    #unique>div {
        width: 100%;
    }
    .unique_container_pera{
        font-size: 2vw;
    }

    #future_head{
        font-size: 7.5vw;
    }
    #future_pera>p {
        width: 80%;
        font-size: 3vw;
    }

    #Carrier_list_search{
        width: 100%;
    }

    #Carrier_list_search_in>input{
        height: 40px;
        font-size: 3vw;
    }
    #Carrier_list_search_btn>input{
        font-size: 3vw;
    }

    #Carrier_box_heading{
        text-align: center;
        font-size: 4vw;
        margin-top: 10px;
    }
    #Carrier_box_pera{
        font-size: 3vw;
    }

    #Carrier_box_1{
        padding: 2px;
    }

    #Carrier_box_info>div{
        font-size: 2.9vw;
    }

    #join_button>div>a {
        font-size: 4vw;
    }

    #join_button>div>a>img {
        width: 26%;
        margin-left: 10px;
    }

    #join_button>div {
        width: 100%;
        
    }

    #join_button>div>a {
        width: 100%;
    }
    #join_head{
        font-size: 8vw;
    }
    #join_part_pera{
        font-size: 2.6vw;
        margin-left: 30px;
    }
    #Carrier_head_img>img {
        margin-top: -40px;
    }
}