#Carrier_Menu{
    background-color: black;
}

#header_image>img{
    width: 100%;
}

#Carrier_head{
    position: relative;
}

#carrier_header{
    width: 100%;
    top: 40%;
    height: 35%;
    background-color: rgba(0, 0, 0, 0.616);
    position: absolute;
    padding: 30px;
}

#carrier_header>h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    color: white;
}

#carrier_body{
    width: 100%;
    display: flex;
    justify-content: center;
}

#carrier_body>div{
    width: 80%;
}
#carrier_body_heading>h1{
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: start;
}
#carrier_body_heading>h1{
    color: black;
}

#carrier_search_box{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}

#carrier_data{
    margin-top: 40px;
}

#carrier_search_box>div>input{
    width: 90%;
    height: 65%;
    border: none;
    outline: none;
    border-radius: 4px;
}

#carrier_search_box>div{
    display: flex;
    align-items: center;
    
}

#carrier_search_box>div>input::placeholder{
    color: black;
    padding-left: 10px;
}

#carrier_search_box>div>button{
    color: white;
    font-weight: 800;
    background-color: rgb(25, 0, 255);
    border-radius: 4px;
    width: 100%;
    height: 65%;
    border: none;
}

#carrier_S_input{
    display: flex;
    justify-content: start;
}

#carrier_datalist{
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(7, 7, 7, 0.055);
    border: none;
}

#carrier_card_col2{
    display: flex;
    justify-content: end;

}

#carrier_apply_link{
    display: flex;
    align-items: center;
    border: none;
    background-color: rgb(0, 85, 85);
    width: 130px;
    height: 45px;
    border-radius: 6px;
    color: white;
}

#carrier_apply>a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

#carrier_apply{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#carrier_footer{
    margin-top: 40px;
}