div{
    color: black;
}
#Sub{
    display: flex;
    align-items: center;
}
.D_img{
    width: "70%",
}
.blog_detials{
    margin-top: 20px;
    margin-bottom: 20px;
}
.D_head{
    
    box-shadow: rgb(34, 34, 34) 2px 2px 2px;
}
